@*We can easily put this in order to not declare whole namespace*@
@using WebApplication1.ViewModel;

@*Without using it will be like 
	@model WebApplication1.Controllers.HomeController.Person[]*@
@model Person[]

<h2>Foreach loop</h2>
<ul>
	@foreach (Person person in Model)  @*Or @foreach (var person in Model)*@
	{
		@await Html.PartialAsync("~/Views/Widgets/Person.cshtml", person)
	}
</ul>

<h2>For loop</h2>
<ul>
	@for (int j = 0; j < Model.Length; j++)
	{
		@await Html.PartialAsync("~/Views/Widgets/Person.cshtml", Model[j])
	}
</ul>

<h2>While loop</h2>
<ul>
	@{ int i = 0;}
	@while (i < Model.Length)
	{
		@await Html.PartialAsync("~/Views/Widgets/Person.cshtml", Model[i])
		i = i + 1;
	}
</ul>

<h2>DoWhile loop</h2>
<ul>
	@{int index = 0;}
	@do
	{
		@await Html.PartialAsync("~/Views/Widgets/Person.cshtml", Model[index])
		index = index + 1;
	} while(index < Model.Length);
</ul>